body {
     padding-top: 30px;
     /*background: url('../imgs/retina_wood.png');*/
     background: #eee;
}

.navbar {
     margin-bottom: 30px;
}

/* ------------------------------------------------------------------------------------------------ */
/* Custom Well
/* ------------------------------------------------------------------------------------------------ */

.well-main {
     min-height: 20px;
     padding: 19px;
     margin-bottom: 20px;
     background-color: #ffffff;
     border: 1px solid #e3e3e3;
     border-radius: 4px;
}

.well-info {
     padding: 19px;
     /*border: 1px solid #dbe5e7;*/
     background: #ffffff;
     /*border-top-left-radius: 10px;*/
     /*border-top-right-radius: 10px;*/

     margin-bottom: 20px;
}

/* Box shadow attributes for square blocks of content */
.well-info {
     -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
     -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
     box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
}


/* ------------------------------------------------------------------------------------------------ */
/* Callouts
/* ------------------------------------------------------------------------------------------------ */

.bs-callout {
     margin: 20px 0;
     padding: 15px 30px 15px 15px;
     border-left: 5px solid #eee;
}
.bs-callout h4 {
     margin-top: 0;
}
.bs-callout p:last-child {
     margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
     background-color: #fff;
}

/* Variations */
.bs-callout-danger {
     background-color: #fcf2f2;
     border-color: #dFb5b4;
}
.bs-callout-warning {
     background-color: #fefbed;
     border-color: #f1e7bc;
}
.bs-callout-info {
     background-color: #f0f7fd;
     border-color: #d0e3f0;
}
.bs-callout-success {
     background-color: #f6fbf1;
     border-color: #e1f2cf;
}

.panel {
  margin-bottom: 20px;
  background-color: #FFFFFF;
  border: 1px solid #D0D5CB;
  border-radius: 0px;
  -webkit-box-shadow: 0 0 0 4px rgba(208, 213, 203, 0.298);
          box-shadow: 0 0 0 4px rgba(208, 213, 203, 0.298);
}

/* ------------------------------------------------------------------------------------------------ */
/* Form fields - remove shadow and rounded border
/* ------------------------------------------------------------------------------------------------ */

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

/* Text */

h2 {
	padding: 0px;
	margin: 0px;
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
}